.container{
    background-color: rgb(49, 49, 49);
    height: 100px;
    width: 150px;
    color: white;
    margin: 1px;
    margin-top: 20px;
    padding: 20px;
    -webkit-box-shadow: 1px 4px 15px -1px #000000; 
    box-shadow: 1px 4px 15px -1px #000000;
}